.container
  .row
    .navbar.navbar-inverse
      .navbar-header
        a.navbar-brand(href="/") Guolaiwan.com
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="/") 首页
          li
            a(href="/admin/list") 列表页
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/admin/movie") 增加电影

.container
  .row
    .page-header
      h1= title
      small  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, tenetur!