.container
  .row
    .navbar.navbar-inverse
      .navbar-header
        a.navbar-brand(href="/") Guolaiwan.com
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="/") 首页
          li
            a(href="/admin/movie/list") 列表页
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/admin/movie/new") 增加电影

.container
  .row
    .page-header
      h1= title
      small  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, tenetur!

.navbar.navbar-default.navbar-fixed-bottom
  .container
    .nabbar-header
      a.navbar-brand(href="#") 科幻迷
    p.navbar-text.navbar-right
      if user
        span 欢迎您，#{user.name}
        span &nbsp; | &nbsp;
        a.navbar-link(href="/logout") 登出
      else
        a.navbar-link(href="#", data-toggle="modal",data-target="#signupModal") 注册
        span &nbsp; | &nbsp;
        a.navbar-link(href="#", data-toggle="modal",data-target="#signinModal") 登录

#signupModal.modal.fade
  .modal-dialog
    .modal-content
      form(method="POST",action="/user/signup")
        .modal-header 注册
        .modal-body
          .form-group
            label(for="signupName") 用户名
            input#signupName.form-control(type="text" name="user[name]")
          .form-group
            label(for="signupPassword") 密码
            input#signupPassword.form-control(type="password" name="user[password]")
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 提交

#signinModal.modal.fade
  .modal-dialog
    .modal-content
      form(method="POST",action="/user/signin")
        .modal-header 登录
        .modal-body
          .form-group
            label(for="signinName") 用户名
            input#signinName.form-control(type="text" name="user[name]")
          .form-group
            label(for="signinPassword") 密码
            input#signinPassword.form-control(type="password" name="user[password]")
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 提交
